#left
  #filter-selected-view
  - if !params[:content_type].nil? && !params[:content_type].empty?
    %a(href="#" class="selected_content_type")
      ="Content Type: #{params[:content_type]}"

  #filter-view
  - @facets.each do |facet|
    %h3 Content Type 
    .facet
      - facet[1].each_index do |index|
        - if index % 2==0 && facet[1][index+1]>0 then
          %a(href="#" class="facet_term facet_term_size_#{facet[1][index+1].to_s}")
            = facet[1][index]

  #index-view
    %form{:id => "index_form", :action => "/index", :method => "post", "data-remote" => "true"}
      %p 
        Dropbox Folder to Add to Index
        %br (ex: / or /Public):
      %input{:type => "text", :name => "f", :id => "f" }
      %input{:type => "submit", :value => "Index", :id => "index_btn"}
    %form{:id => "delete_form", :action => "/delete", :method => "post", "data-remote" => "true", "data-confirm" => "Are you sure?"}
      %input{:type => "submit", :value => "Delete Index", :id => "delete_btn"}
#right
  #search-view
    %form{:id => "search_form", :action => "/search", :method => "get", "data-remote" => "true"}
      %input{:type => "text", :name => "q", :id => "q", :value => params[:q] }
      %input{:type => "hidden", :name => "content_type", :id => "content_type", :value => params[:content_type] }
      %input{:type => "submit", :value => "Search", :id => "search_btn"}
  #loading
    %img(src="/images/loading.gif")
    Loading...
  #message
  #doc-list-view
    %span#result-data
      %span#result-count= @numFound
      results 
    - @results.each do |result|
      .search_result
        %a(href="/file?n=#{result['id']}" target="_new") 
          =result['id'][1..-1]
        .snippet= @highlighting[result['id']]['attr_content']
        .info
          .content_type= result['content_type']
          .attr_created= result['attr_created']

%script(type="text/template" id="doc-template")
  .search_result
    <a href="/file?n=<%= doc_id %>" target="_new">
    .doc_id <%= doc_id %> 
    </a>
    .snippet <%= snippet %> 
    .info
      .content_type <%= content_type %>
      .attr_created <%= attr_created %>
%script(type="text/template" id="filter-template")
  %h3 <%= name %> 
  .facet
    <% _.each(filterTerms.models, function(term) { %> 
    <a href="#" class="facet_term facet_term_size_<%= term.attributes.count %>">
    <%= term.attributes.name %>
    </a>
    <% }); %>
%script(type="text/template" id="filter-selected-template")
  <% if (fq!="") { %>
  %a(href="#" class="selected_content_type")
    Content Type: <%= fq %>
  <% } %>
%script(src="/js/underscore-min.js" type="text/javascript")
%script(src="/js/json2.js" type="text/javascript")
%script(src="/js/backbone-min.js" type="text/javascript")
%script(src="/js/app.js" type="text/javascript")
%script(src="/js/mvc.js" type="text/javascript")
