#left
  - @facets.each do |facet|
    .facet
      %h3= facet[0]
      - facet[1].each_index do |index|
        - if index % 2==0 then
          .facet_term= facet[1][index] + ' ' + facet[1][index+1].to_s

  #index_box
    %form{:id => "index_form", :action => "/index", :method => "post", "data-remote" => "true"}
      %p 
        Dropbox Folder to Add to Index
        %br (ex: / or /Public):
      %input{:type => "text", :name => "f", :id => "f" }
      %input{:type => "submit", :value => "Index", :id => "index_btn"}
    %form{:id => "delete_form", :action => "/delete", :method => "post", "data-remote" => "true", "data-confirm" => "Are you sure?"}
      %input{:type => "submit", :value => "Delete Index", :id => "delete_btn"}
#right
  #search_box
    %form{:id => "search_form", :action => "/search", :method => "get", "data-remote" => "true"}
      %input{:type => "text", :name => "q", :id => "q", :value => params[:q] }
      %input{:type => "submit", :value => "Search", :id => "search_btn"}
  #loading
    %img(src="/images/loading.gif")
    Loading...
  #message
  #search_results
    = "Results: #{@numFound}"
  - @results.each do |result|
    .search_result
      %a(href="/file?n=#{result['id']}" target="_new") 
        =result['id'][1..-1]
      .snippet= @highlighting[result['id']]['attr_content']
      .info
        .content_type= result['content_type']
        .attr_created= result['attr_created']

  -# result.each do |k, v|
  -#  .attr= k
  -#  .value= v 
%script(src="/js/app.js" type="text/javascript")
