#left
  #selected_box
  - if !params[:content_type].nil? && !params[:content_type].empty?
    %a(href="#" class="selected_content_type")
      ="(x) content_type: #{params[:content_type]}"

  - @facets.each do |facet|
    %h3= facet[0]
    .facet
      - facet[1].each_index do |index|
        - if index % 2==0 then
          %a(href="#" class="facet_term facet_term_size_#{facet[1][index+1].to_s}")
            = facet[1][index]

  #index_box
    %form{:id => "index_form", :action => "/index", :method => "post", "data-remote" => "true"}
      %p 
        Dropbox Folder to Add to Index
        %br (ex: / or /Public):
      %input{:type => "text", :name => "f", :id => "f" }
      %input{:type => "submit", :value => "Index", :id => "index_btn"}
    %form{:id => "delete_form", :action => "/delete", :method => "post", "data-remote" => "true", "data-confirm" => "Are you sure?"}
      %input{:type => "submit", :value => "Delete Index", :id => "delete_btn"}
#right
  #search_box
    %form{:id => "search_form", :action => "/search", :method => "get", "data-remote" => "true"}
      %input{:type => "text", :name => "q", :id => "q", :value => params[:q] }
      %input{:type => "hidden", :name => "content_type", :id => "content_type", :value => params[:content_type] }
      %input{:type => "submit", :value => "Search", :id => "search_btn"}
  #loading
    %img(src="/images/loading.gif")
    Loading...
  #message
  #search_count
    = "Results: #{@numFound}"
  #search_results
    - @results.each do |result|
      .search_result
        %a(href="/file?n=#{result['id']}" target="_new") 
          =result['id'][1..-1]
        .snippet= @highlighting[result['id']]['attr_content']
        .info
          .content_type= result['content_type']
          .attr_created= result['attr_created']

%script(type="text/template" id="doc-template")
  .search_result
    - link = "/file?n=<%= doc_id %>"
    %a(href=link target="_new") 
      .doc_id <%= doc_id %> 
    .snippet <%= snippet %> 
    .info
      .content_type <%= content_type %>
      .attr_created <%= attr_created %>
%script(type="text/template" id="facet-template")
  %h3 <%= name %> 
  -# result.each do |k, v|
  -#  .attr= k
  -#  .value= v 
%script(src="/js/underscore-min.js" type="text/javascript")
%script(src="/js/json2.js" type="text/javascript")
%script(src="/js/backbone-min.js" type="text/javascript")
%script(src="/js/app.js" type="text/javascript")
%script(src="/js/doclist.js" type="text/javascript")
